{% extends 'account/base.html' %}
 
{% block content %}
 
<main class="container">
    <div class="row">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            <a href="/view_mypage/" class="text-decoration-none">
            マイページ</a>
        </h3>
 
        <form class="row g-3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12">
            <div class="form-group">
                <label>ニックネーム:</label>{{ form.username }}
            </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                      <label>アイコン:</label>{{ form.image }}
                    </div>
            </div>
            <div class="col-md-12">
                    <div class="form-group">
                      <label>年齢:</label> {{ form.age }}
                    </div>
            </div>            
            <div class="col-md-12">
                <label>一言コメント</label>
                <div class="form-group">
                {{ form.text }}
                </div>
            </div>
 
            <div class="col-12">
              <button type="submit" class="btn btn-success">保存</button>
            </div>
          </form>
 
        </div>
 
      
 
    </div>
</main>
 
 
{% endblock %}