{% load static %}

<aside class="col-md-12">
            <div class="p-4 mb-3 bg-light rounded">
                <h3 class="font-italic">
                    ①質問投稿機能
                </h3>
                <p class="mb-0 text-muted">
                    勉強をしている中で分からない問題を質問箱に投稿することができます。
                </p>
                <h3 class="font-italic">
                    ②解答投稿機能
                </h3>
                <p class="mb-0 text-muted">
                    質問箱にある問題に回答することができます。
                </p>
                <h3 class="font-italic">
                    
                </h3>
                <h3 class="font-italic">
                    
                </h3>
            </div>

            <figure class="figure">
                
            </figure>
        </aside>